<html>
<head>
	<title>IO Chat</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascript/index.js"></script>

</head>
<body>
	<p id="pseudo" style="visibility:hidden;"><%= pseudonym%></p>
	<p id="code" style="visibility:hidden;"><%= chatroomId%></p>
	<div class="container">
		<div id="header">
			teaCHat
			<hr>
		</div>
		<div class="row" id="messageArea">
			<div class="col-md-4">
				<div class="well">
					<h3> <%=roomName %> </h3>
					<h3> Online Users </h3>
					<ul class="list-group" id="users"></ul>
				</div>
			</div>
			<div class="col-md-8">
				<div class="chat" id="chat"> </div>

				<form id="messageForm">
					<div class="form-group">
						<label> Enter Message </label>
						<textarea class="form-control" id="message"> </textarea>
						<br />
						<div class="col-md-4">
							<input type="submit" class="btn btn-primary" value="Send Message" />
						</div>
						<div id="div_upload" class="col-md-8">
							<button id="btnUpload" class="btn btn-primary">Upload</button>
							<input id="fileselect" class="btn btn-primary" type="file" name="fileselect" style="display: inline"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
